:root{
  --dark-color:#19283F;
  --white-color:#fff;
  --sky-color:#33D1CC;
  --red-color:#FF3150;
  --yellow-color:#FFC400;
  --section-color:#EFF7FA;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
/* nav */
nav{
  background-color: var(--dark-color);
}
nav .nav-item .nav-link{
  color: white;
  font-weight: 500;
}
nav .nav-item .nav-link.active{
  color: var(--sky-color);
}
nav .nav-item .nav-link:hover{
  color: var(--sky-color);
}
nav .search{
  border-left: 1px solid var(--sky-color);
  color: var(--white-color);
}
nav .login{
  width: 70px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
}
nav .login:hover{
  background-color: var(--yellow-color);
  color: var(--red-color);
  transition: .3s;
}
nav .navbar-toggler{
  border: 1px solid var(--white-color);
}
nav .navbar-toggler:is(:hover,:focus){
  box-shadow: none;
}
nav .navbar-toggler svg{
  color: var(--white-color);
}
/* nav */
/* landing */
.landing{
  width: 100%;
  height: calc(100vh - 72px);
  background-color: var(--dark-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing h1{
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.landing a{
  text-decoration: none;
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.landing a:hover{
  background-color: var(--yellow-color);
  color: var(--red-color);
  transition: .3s;
}
/* landing */
/* services */
.services{
  width: 100%;
  height: 100%;
}
.services img{
  width: 80px;
  margin-bottom: 20px;
}
.services h1{
  font-weight: 500;
  font-size: 29px;
}
.main{
  position: relative;
}
.main::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 2px;
  background: var(--sky-color);
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services .num{
  position: relative;
  height: 200px;
}
.services .num svg{
  left: 50%;
  transform: translateX(-50%);
}
.services .num svg:first-child{
  position: absolute;
  height: 12rem;
  color: #eff7fa;
  bottom: 0;
}
.services .num svg:last-child{
  position: absolute;
  bottom: 0;
  color: var(--sky-color);
  font-size: 4rem;
}
.services h4{
  text-transform: uppercase;
  color: var(--yellow-color);
  letter-spacing: 2px;
}
.services h4 + p{
  line-height: 30px;
}
.services .service{
  border-radius: 20px;
  padding: 10px;
  transition: .3s;
}
.services .service:hover{
  box-shadow: 5px 10px rgb(225, 225, 225);
}
/* services */

/* portfolio */
.portfolio{
  width: 100%;
  height: 100%;
  background-color: var(--section-color);
}
.portfolio .main img{
  width: 80px;
  margin-bottom: 20px;
}
.portfolio .main h1{
  font-weight: 500;
  font-size: 29px;
}
.portfolio ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.portfolio ul li{
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}
.portfolio ul li.active{
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.portfolio ul li:not(:first-child):hover{
  color: var(--red-color);
  transition: .3s;
}
.portfolio .port .box{
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.portfolio .port .box:hover::before{
  transform: translateX(0);
}
.portfolio .port .box::before{
  content: attr(data-box);
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33d1ccab;
  font-weight: bold;
  color: var(--yellow-color);
  top: 5px;
  left: 5px;
  transition: .3s;
  transform: translateX(calc(-100% - 6px));
}
.portfolio .port .box img{
  width: 100%;
  height: 100%;
}
.portfolio .button a{
  text-decoration: none;
  background-color: var(--red-color);
  color: var(--yellow-color);
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: .3s;
}
.portfolio .botton a:hover{
  background-color: var(--yellow-color);
  color: var(--red-color);
}

/* portfolio */
/* about */
.about img{
  width: 80px;
  margin-bottom: 20px;
}
.about h1{
  font-weight: 500;
  font-size: 29px;
}
.about .desc{
  max-width: 500px;
}
.about .img img{
  max-width: 100%;
  width: 100%;
  height: auto;
}
.about .text a{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--red-color);
  color: var(--yellow-color);
  text-decoration: none;
}
.about .text a:hover{
  background-color: var(--yellow-color);
  color: var(--red-color);
  transition: .3s;
}
/* about */
/* team */
.team{
  background-color: var(--section-color);
}
.team main h1{
  color: var(--yellow-color);
  letter-spacing: -2px;
}
.team .box{
  background-color: var(--white-color);
}
.team .box img{
  max-width: 100%;
  height: 300px;
  max-height: 100%;
}
.team .box h1{
  color: var(--yellow-color);
  background-color: var(--sky-color);
  font-size: 1.9rem;
  letter-spacing: 2px;
}
.team .box p{
  padding: 20px;
}

/* team */
/* project */
.project{
  background-color: var(--dark-color);
}
.project a{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--red-color);
  color: var(--yellow-color);
  text-decoration: none;
  text-transform: uppercase;
}
.project a:hover{
  background-color: var(--yellow-color);
  color: var(--red-color);
  transition: .3s;
}
/* project */
/* blog */
.blog img{
  width: 80px;
  margin-bottom: 20px;
}
.blog h1{
  font-weight: 500;
  font-size: 29px;
}
.blog .box img{
  width: 100%;
  height: 150px;
  max-height: 100%;
  border-radius: 20px 20px 0 0;
}
.blog .box{
  background-color: var(--white-color);
  border: 1px solid gray;
  border-radius: 20px;
}
.blog .box .text{
  padding-left: 10px;
}
.blog .button a{
  text-decoration: none;
  background-color: var(--red-color);
  color: var(--yellow-color);
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: .3s;
}
.blog .button a:hover{
  background-color: var(--yellow-color);
  color: var(--red-color);
}
/* blog */
/* subscribe */
.subscribe{
  background-color: var(--yellow-color);
}
.subscribe h1{
  font-size: 17px;
}
.subscribe input{
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--dark-color);
  border-bottom: 1px solid var(--red-color);
}
.subscribe a{
  text-decoration: none;
  background-color: var(--dark-color);
  color: var(--yellow-color);
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: .3s;
}
.subscribe a:hover{
  background-color: var(--red-color);
}

/* subscribe */
/* footer */
footer{
  background-color: var(--dark-color);
  color: var(--white-color);
}
footer p:nth-child(3){
  max-width: 50%;
}
footer span:first-child{
  color: var(--sky-color);
}
footer span:nth-child(2){
  color: var(--yellow-color);
}
footer :is(.links,.about){
  margin-left: 10px;
}
footer :is(.links,.about) ul{
  list-style: none;
  padding: 0;
}
footer :is(.links,.about) ul li{
  margin-top: 10px;
  cursor: pointer;
}
footer :is(.links,.about) ul li:hover{
  padding-left: 5px;
  color: var(--sky-color);
}
footer .contact a{
  text-decoration: none;
  background-color: var(--red-color);
  color: var(--yellow-color);
  border-radius: 20px;
  padding: 10px 20px;
  transition: .3s;
}
footer .contact a:hover{
  background-color: var(--yellow-color);
  color: var(--red-color);
  font-weight: 500;
}
footer .contact ul{
  list-style: none;
  display: flex;
}
footer .contact ul li{
  margin: 20px 15px;
}
footer .designed h3{
  display: flex;
  justify-content: center;
}
footer .designed h3 lord-icon{
  width: 50px;
  height: 50px;
  margin-top: -10px;
}
/* footer */


